# file: .gitattributes - additional configuration for github linguist analyser
# more see https://github.com/github/linguist/blob/master/docs/overrides.md

# do not count installer for programming language detection of github linguist analyser.
/Install.ps1  linguist-documentation
